#SSLRequireSSL
#SSLVerifyClient require
#SSLVerifyDepth  10
#
#SSLUserName SSL_CLIENT_S_DN_CN
#AuthType basic
#AuthName "Certificate Service Administration"
#AuthBasicProvider file
#AuthUserFile "D:/Inetpub/wwwroot/user.txt"
#Require valid-user

#AuthType basic
#AuthName "Certificate Service Administration Manager"
#AuthBasicProvider dbd
#Require valid-user

#AuthType Digest
#AuthName "OCSP service administration"
#BrowserMatch "MSIE" AuthDigestEnableQueryStringHack=On
#AuthDigestProvider dbd
#Require valid-user
